// 随个人喜好更改
// 字体
$font-stack: Barlow, Alegreya, "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;

// 按钮
$button-large-font-size: 14px;
$button-large-icon-font-size: 1.6rem;
$button-large-height: 40px;
